📰 Daily Tech News → Gmail Digest.json
{
  "name": "📰 Daily Tech News → Gmail Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtMinute": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -48,
        0
      ],
      "id": "c98ead72-407c-4bc1-bc0c-1fa6c2418a41",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/top-headlines",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "country",
              "value": "us"
            },
            {
              "name": "category",
              "value": "technology"
            },
            {
              "name": "pageSize",
              "value": "3"
            },
            {
              "name": "apiKey",
              "value": "d03288ce233747c9bd78c851ad6928fa"
            }
          ]
        },
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        144,
        0
      ],
      "id": "0a65d39e-48fd-48c3-b6d8-3b5c8d2833b1",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2ce1068d-1662-4bc9-ace0-212f2eb3f502",
              "name": "headline1",
              "value": "={{$json[\"articles\"][0][\"title\"]}}",
              "type": "string"
            },
            {
              "id": "1704c339-496a-460e-a2b4-36775922a996",
              "name": "headline2",
              "value": "={{$json[\"articles\"][1][\"title\"]}}",
              "type": "string"
            },
            {
              "id": "e508e4cd-bea6-4783-9bb9-855017bae992",
              "name": "headline3",
              "value": "={{$json[\"articles\"][2][\"title\"]}}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        352,
        0
      ],
      "id": "93713208-6f09-45e8-92b6-5a95d1011a59",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "qualityassurance502@gmail.com",
        "subject": "Today's Top Tech News 📰",
        "message": "=<h2 style=\"text-align:center; color:#2c3e50; margin-bottom:20px;\"> \n🌅 Good Morning! \n</h2>  \n\n<p style=\"text-align:justify; font-size:16px; line-height:1.6; color:#333;\"> \nHere are <strong>today’s top technology news headlines</strong> to keep you updated with the latest developments in the tech world. \n</p>  \n\n<h3 style=\"color:#1a73e8; margin-top:25px;\">📰 Top Tech Headlines</h3>  \n\n<ol style=\"font-size:16px; line-height:1.8; color:#333; text-align:justify;\"> \n<li>{{$json[\"headline1\"]}}</li> \n<li>{{$json[\"headline2\"]}}</li> \n<li>{{$json[\"headline3\"]}}</li> \n</ol>  \n\n<p style=\"margin-top:25px; font-size:15px; text-align:justify; color:#555;\"> \nStay informed and keep exploring the world of technology. 🚀 </p>  \n\n<hr style=\"margin-top:30px; border:none; border-top:1px solid #ddd;\">  \n\n<p style=\"text-align:center; font-size:13px; color:#888;\"> This is an automated news digest generated by your <strong>n8n workflow</strong>. \n</p>",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        560,
        0
      ],
      "id": "0559829b-83dc-44df-9148-b01f7a1b23c6",
      "name": "Send a message",
      "webhookId": "3d23af4c-852f-40d4-81ea-28845a552345",
      "credentials": {
        "gmailOAuth2": {
          "id": "IFrGgl3vubXpnnEm",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "428d7477-11a6-4864-a1dc-45a192a9dcd7",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "7fb9c15a60f56efb2ed4242be9731d3ca6085debc8b55380dea54cf9f42b047d"
  },
  "id": "B5NJ9flJkwpUrGVt",
  "tags": []
}